// COLORS

$Dark-Blue: hsl(233, 26%, 24%);
$Lime-Green: #31d35c;
$Bright-yan: #2bb7da;
$Grayish-Blue: hsl(233, 8%, 62%);
$Light-Grayish-Blue: hsl(220, 16%, 96%);
$Very-Light-Gray: hsl(0, 0%, 98%);
$white:white;

$gradient: linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
// FONTS

$font:'Public Sans', sans-serif;

$padding-L-R:140px;